<hgroup>
  <h1>Sign in</h1>
</hgroup>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="group">
    <%= f.email_field :email, autofocus: true %><span class="highlight"></span><span class="bar"></span>
    <label>Email</label>
  </div>

  <div class="group">
    <%= f.password_field :password, autocomplete: "off" %>
    <span class="highlight"></span><span class="bar"></span>
    <label>Password</label>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", {:style=>'margin-top: 20px;', :class => "button buttonBlue"} %>
  </div>

  <div id="links" style="text-align: center; padding-top: 15px;">
    <%= render "users/shared/links" %>
  </div>
<% end %>

<link href="/assets/login_form.css" media="screen" rel="stylesheet" />

<% javascript 'forms.js' %>
