<hgroup>
  <h1>Sign up</h1>
</hgroup>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="group">
    <%= f.email_field :email, autofocus: true %><span class="highlight"></span><span class="bar"></span>
    <label>Email</label>
  </div>

  <div class="group">
    <%= f.password_field :password, autocomplete: "off" %><span class="highlight"></span><span class="bar"></span>
    <label>Password(6 characters minimum)</label>
  </div>

  <div class="group">
    <%= f.password_field :password_confirmation, autocomplete: "off" %><span class="highlight"></span><span class="bar"></span>
    <label>Password confirmation</label>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", {:style=>'margin-top: 20px;', :class => "button buttonBlue"} %>
  </div>

  <div id="links" style="text-align: center; padding-top: 15px;">
    <%= render "users/shared/links" %>
  </div>
<% end %>


<link href="/assets/login_form.css" media="screen" rel="stylesheet" />

<% javascript 'forms.js' %>
